@font-face {
    font-family: "Niagsol";
    src: url(../fonts/NIAGSOL.TTF) format("truetype");
}

body {
    padding-top: 0;
    padding-bottom: 0;
    overflow-x: hidden;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 60px;
    padding-left: 0;
    padding-right: 0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color: #858585 !important;
    border-color: #858585 !important;
    -webkit-box-shadow: inset 0px -22px 27px -29px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px -22px 27px -29px rgba(0,0,0,0.75);
    box-shadow: inset 0px -22px 27px -29px rgba(0,0,0,0.75);
    width: 105%;
    margin-left: -2.5%;
}

.navbar {
    max-height: 40px !important;
    min-height: 30px !important;
}

.navbar-brand {
    padding-bottom: 0 !important;
    padding-top: 2px !important;
    padding-right: 5px;
    line-height: 40px;
    font-size: 18px;
    font-family: 'Niagsol';
    max-height: 32px;
}

.navbar-brand-header-link {
    padding-left: 0 !important;
    padding-top: 1px !important;
    line-height: 16px !important;
    color: white !important;
}

    .navbar-brand-header-link > a {
        text-decoration: none;
        color: white;
    }

.navbar-fixed-top {
    margin: inherit;
    max-width: inherit;
    top: 50px;
    display: block !important;
    height: 60px !important;
    background-color: #0077c8;
    line-height: 60px;
}

@media (min-width: 768px) {
    .navbar-brand {
        padding-left: 140px;
    }

    .navbar-brand-header-link {
        padding-left: 0 !important;
        line-height: 17px !important;
    }
}

@media (max-width: 768px) {
    .navbar-brand {
        padding-left: 35px;
    }

    .navbar-brand-header-link {
        padding-left: 0 !important;
        line-height: 17px !important;
    }
}

.navbar-nav > li > a {
    line-height: 35px !important;
    margin-top: 4px;
    padding-bottom: 5px !important;
    padding-top: 0;
    font-family: 'Niagara Solid';
    font-size: 18px;
}

#nav-a > a {
    font-size: 25px;
}

#nav-b > a {
    font-size: 27px;
    font-family: 'Calibri';
    font-weight: 700;
}

#nav-c > a {
    padding-top: 2px !important;
    font-size: 26px;
    font-weight: 500;
}

@media(max-width: 1024px) {

    #nav-a > a {
        font-size: 20px;
    }


    #nav-b > a {
        font-size: 22px;
        font-family: 'Calibri';
        font-weight: 700;
    }

    #nav-c > a {
        padding-top: 2px !important;
        font-size: 21px;
        font-weight: 300;
    }
}

@media ( max-width:768px ) {
    .navbar-nav > li > a {
        background-color: gray;
        color: white;
        font-family: Calibri !important;
        font-weight: 500 !important;
        font-size: 20px !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        margin: 0 0 0 0 !important;
        text-transform: uppercase;
    }

    .navbar-inverse .navbar-nav > li > a:hover,
    .navbar-inverse .navbar-nav > li > a:focus {
        color: gray;
        background-color: white;
    }
}

.navbar-button {
    height: 59px;
    width: 60px;
    line-height: 60px;
    font-size: x-large;
    background-color: #004066;
    color: white;
}

.search-textBox{
    display:none;
    position:absolute;
    top:0;
    left:60px;
    padding-left: 15px;
    height:60px;
    max-width: 300px;
    min-width: 250px;
    font-size: 16px;
    font-family: Calibri;
    font-weight:600;
    color: rgba(36, 36, 36, 0.35);
}

#fb {
    position:absolute;
    top:10px;
    right:40px;
}

input[type="button" i], button {
    padding-top: -5px !important;
    border: 0 solid !important;
}

.navbar-fixed-top img {
    height: 60px;
    margin-top: -10px;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-fixed-top ul, li {
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding-left: 18px;
    color: white;
}

@media (max-width: 1200px) {
    .navbar-fixed-top ul, li {
        font-size: 14px;
        padding-left: 12px;
    }
}

@media (max-width: 991px) {
    .navbar-fixed-top ul, li {
        font-size: 12px;
        padding-left: 8px;
    }
}

@media(max-width:768px) {
    .navbar-fixed-top ul, li {
        font-size: 12px;
        padding-left: 4px;
    }

    .navbar-fixed-top img {
        height: 40px;
        margin-top: -10px;
    }
}

@media(max-width:669px) {
    .navbar-fixed-top ul, li {
        display: none;
    }
    .navbar-fixed-top img {
        height: 40px;
        margin-top: -10px;
    }
}

.navbar-fixed-top a {
    color: white;
}

.icon-facebook {
    position: absolute;
    top: 0;
    right: 62px;
}

    .icon-facebook > img {
        height: 50px !important;
    }

.icon-instagram {
    position: absolute;
    top: 0;
    right: 0;
}

    .icon-instagram > img {
        height: 43px !important;
    }

footer {
    border: #0077c8 solid;
    background-color: #0077c8;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    min-height: 150px;
}
